*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video{
    margin-top: 2rem;
}
.video-cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    

}
.video-card{
    border: solid 1px black;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 2rem;
    

    &__img{
        overflow: hidden;
       
       
    }

    &__title{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: lightgreen;
        height: 200px;
        text-align: center;
        font-weight: 700;
        color: black;
        p{
        margin-block-start: 0em;
        margin-block-end: 0em;
        }
    }

    &__real-img{
        height: 150px;
    }
}