.resources{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.card{
    border: 2px black solid;
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    overflow: hidden;

    &__pic{
        border: lightgreen 0.5px solid;
        height: 150px;
        background-image: url('../../assests/images/img13.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
    }
}
.pic{
    overflow: hidden;
    height: 200px;
    object-fit: contain;
}

.card_desc{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        text-align: center;
    }
}